<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/Style.css" />
    </head>
    <body>
        <div id="page-container">
            <header>
                <div class="navbar">
                    <div>
                        <h1>Logo</h1>
                    </div>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Prodjects", "Prodjects", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Guessing Game", "GuessingGame", "Home")</li>
                            <li>@Html.ActionLink("Fever Check", "FeverCheck", "Doctor")</li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="pageArea">
                @RenderBody()
            </div>
            <div id="footer">
                <footer>
                    <p> &copy; @DateTime.Now.Year Samuel Schön</p>
                </footer>
            </div>
        </div>
    </body>
</html>
